<div id="wrap">

    <div id="content">
        <mat-toolbar color="primary">
            <span>3DCG / Blender</span>
          </mat-toolbar>
    <p><br>
    3D Art is something I put off trying to learn for quite some time, my main focus had always been
    in programming, and art was always this grandiose skill in my mind, far beyond my means. I done a little
    drawing in my past, but it was never something I studied deeply, and not something I thought I would pursue too deeply.
    </p>

    <p>
    With the release of Blender 2.8 however, this started to change.
    </p>
    </div>
</div>