<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=600 height=400></canvas>
  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-mobile-warning">
    WebGL builds are not supported on mobile devices.
  </div>
  <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">Planets</div>
  </div>
</div>