<div id="wrap">

    <div id="content">
    Procedural generation through controlled noise is a subject that fascinates me. Below, I have included a WebGL build of a simple
    planet generator. Using noise generation coloured between clamped values generating a texture that resembles terrain is a relatively
    simple task. This texture is then applied to a sphere, and we have a planet.
    <br><br>
    In the future I will expand on this, detailing the process further and using the noise values to generate meshes.

    
    
    <unity></unity>
</div>
</div>
